html
    head
        script
    body
        -var a = 1
         case a
            when 1
                div aaa
            when 2
                div bbb
            default
                div 啥都不是